body{
    background-color: aqua;
}
header{
    position: fixed;
    top: 0;
    height: 10px;
    font-weight: normal;
}
form{
    background-color: aquamarine;
    position: relative;
    top: 20px;
    width: auto;
    height: auto;
    text-decoration-color: black;
}
ul{
    background-color: aquamarine;
    position: relative;
    width: auto;
    height: auto;

}
 .complaintReject {
     position: relative;
     right: 10px;
     background-color: indianred;
     width: auto;
     height: auto;

 }

.complaintSettled {
    position: relative;
    width: auto;
    height: auto;
    background-color: chartreuse;
}
.complaintAccepted {
    position: relative;
    left: 10px;
    width: auto;
    height: auto;
    background-color: cadetblue;
}
.vypisSklad{
    position: relative;
    top:100px;
    width: auto;
    height: auto;
}
.form{
    background-color: aquamarine;
    position: relative;
    top: 20px;
    width: auto;
    height: auto;
    text-decoration-color: black;
}
.vypisRekalamci{
    background-color: aquamarine;
    position: relative;
    top: 20px;
    width: auto;
    height: auto;
    text-decoration-color: black;
}
.vypisZamestnancu{
    background-color: aquamarine;
    position: relative;
    top: 20px;
    width: auto;
    height: auto;
    text-decoration-color: black;
}